# =========================
# CodeIgniter 4 .gitignore
# =========================

# Composer dependencies
/vendor/
composer.lock

# Environment file (jangan sampai bocor)
.env

# CI4 writable directories
/writable/cache/*
/writable/logs/*
/writable/debugbar/*
/writable/session/*
/writable/uploads/*

# Biarkan index.html tetap ikut repo (buat jaga folder kosong tetap ada)
!/writable/cache/index.html
!/writable/logs/index.html
!/writable/debugbar/index.html
!/writable/session/index.html
!/writable/uploads/index.html

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
